$fontFamily:Serif;
$colorNav:#fc5830;
$colorBottomSeach:$colorNav;
$colorBottomSend:$colorNav;
$sectionHeader:$colorNav;
$backgroundArticle:#ffffff;
$backgroundBody:#efefef;
$colorParagraf:#757575;
$colorSpan:$colorParagraf;
$articleHeader:#617d8a;
$colorBorder:#cfd8dc;
$backgroundSeach:$backgroundBody;
$colorArticleDiv:#bdbdbd;
$backgroundBottom:$backgroundSeach;