$fontFamily:Sans-Serif;
$colorNav:#1fbcd3;
$colorBottomSeach:$colorNav;
$colorBottomSend:$colorNav;
$sectionHeader:$colorNav;
$backgroundArticle:#efefef;
$backgroundBody:#ffffff;
$colorParagraf:#617d8a;
$colorSpan:$colorParagraf;
$articleHeader:#1697a6;
$colorBorder:#617d8a;
$backgroundSeach:$backgroundBody;
$colorArticleDiv:#159587;
$backgroundBottom:$backgroundSeach;